/* home.module.css */
.conteudo-container{
    display: flex;
    width: 100%;
    margin: auto;
}

.conteudo{
    width: 100%;
    margin: auto;
}

.carousel {
    display: grid;
    grid-auto-flow: column;
    scroll-behavior: auto;
    gap: 1.2rem;
    overflow-y: auto;
    overscroll-behavior-x: contain;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
}

.carousel::-webkit-scrollbar{
    display: none;
}


/* Adjust card styles as needed */
.card-container {
    flex: 0 0 auto;
    scroll-snap-align: center;
    /* Center align the cards */
    margin-left: auto;
    margin-right: auto;
}

.card {
    width: 20vw;
    /* Set a fixed width for each card */
    margin: 10px;
    /* Add some margin between the cards */

    scroll-snap-type: start;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Add styles for arrow buttons */
.arrow-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
    color: #000;
    /* Change the color as needed */
    padding: 5px;
}

.arrow-button:hover {
    color: #333;
    /* Change the hover color as needed */
}

.title{
    margin-bottom: 25px;
}

.portrait{
    height: 75vh;
}

@media only screen and (max-width: 768px) {
    .portrait {
        height: 20vh;
        /* Let the height be determined by content */
        /* Adjust height for mobile devices */
        /* You can set a specific height for mobile if needed */
    }

    /* Stack elements on top of each other */
    .card {
        width: 70vw;
        /* Take full width */
        margin: 10px auto;
        /* Center the cards */
    }
    .conteudo {
            width: 80%;
            margin: auto;
    }
}

