/* Styles that apply to all pages */

.main{
    margin-top: 4%;
}

.main-header{
    margin-top: 7%;
}



.highlight{
    font-weight: bold;
    color: #1C4EFF;
}


@media only screen and (max-width: 768px) {
    .main {
            margin-top: 25%;
        }
}