/* Styles that apply to all pages */

.main{
    margin-top: 5%;
}




.highlight{
    font-weight: bold;
    color: #1C4EFF;
}


@media only screen and (max-width: 768px) {
    .main {
            margin-top: 25%;
        }
}